<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Dental Inventory App {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <header>
    <img
      src="{{ url_for('static', filename='logo_inventary.png') }}"
      alt="Logo"
      class="image"
    />
    <div>
      <h1>Dental Inventory App</h1>
      <p>The solution for managing dental inventory</p>
    </div>

    <nav>
      <a href="{{ url_for('Home') }}"> Home </a>
      <a href="#">Log In</a>
    </nav>
  </header>

  <body>
    {% block content %} {% endblock %}
  </body>

  <footer>
    <p>&copy; 2026 Dental Inventory App. All rights reserved.</p>
  </footer>
</html>
