{% extends "base.html" %} {% block title %} Home - Dental Inventory App {%
endblock %} {% block content %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style_home.css') }}"
/>
{% endblock %}

<h2>Welcome to the Dental Inventory App</h2>

<h3>The Ultimate Solution for Managing Your Dental Inventory</h3>

<div class="features">
  <div>
    <img
      src=" {{ url_for('static', filename='list.png') }}"
      alt=" Items list picture"
    />
    <p>List of Dental Items</p>
  </div>
  <div>
    <img
      src=" {{ url_for('static', filename='stock.png') }}"
      alt="Stock picture"
    />
    <p>Detail of Your Stock</p>
  </div>
  <div>
    <img
      src=" {{ url_for('static', filename='alert.png') }}"
      alt="Low Stock Alert picture"
    />
    <p>Alert when Stock is Low</p>
  </div>
  <div>
    <img
      src=" {{ url_for('static', filename='orders.png') }}"
      alt="Orders and Provider picture"
    />
    <p>Keep Track of the Orders and Provider</p>
  </div>
</div>

<button class="btn" type="submit">Get Started Now !</button>

{% endblock %}
