{% extends "base.html" %} {% block title %}Product Details{% endblock %} {%
block content %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style_delete.css') }}"
/>
{% endblock %}

<h2>{{ product.name }}</h2>

<div class="table_picture">
  <div>
    <table>
      {% for key, value in product.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div>
    {% if product_image %}
    <img
      src="{{ url_for('static', filename=product_image) }}"
      alt="{{ product.name }}"
    />
    {% endif %}
  </div>
</div>

{% endblock %}
