{% extends "base.html" %} {% block title %} Stock - Dental Inventory App {%
endblock %} {% block content %}

<!-- Flash messages success and errors -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<table>
  <caption>
    Stock List
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.quantity }}</td>

      <td>
        <a href=""> Edit </a>
        |
        <a href="{{ url_for('Delete', product_id=product.id) }}"> Delete </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button><a href="{{ url_for('Add') }}">Add Product</a></button>
{% endblock %}
