/* Table styling for Stock display and Delete feature */

#delete-table {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

#delete-table > div {
  flex: 1;
}

#delete-table table {
  border-collapse: collapse;
  justify-self: flex-end;
}

#delete-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #delete-table {
    flex-direction: column;
  }
}
